@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

:root {
  --orange: #f04e25;
  --cream: #fccda7;
  --gray: #ebebebe1;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 1rem;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(45deg, #ffffff, #ff730025);
}

/* Font style  */

.fs-7 {
  font-size: .9rem;
}

.fs-8 {
  font-size: .7rem;
}

.fs-9 {
  font-size: .5rem;
}

/* color style  */

.bg-orange {
  background-color: #E76F51;
}

.bg-cream {
  background-color: #F4A261;
}

.bg-gray {
  background-color: var(--gray);
}

.text-orange {
  color: #E76F51;
}

.text-cream {
  color: #F4A261;
}

.text-gray {
  color: var(--gray);
}

._btn {
  background: none;
  border: none;
  transition: all .3s;
  text-decoration: none;
}

.Toastify__toast-container--top-right {
  top: 7em !important;
}


.cursor_pointerr {
  cursor: pointer;
}